<?xml version="1.0"?>
<launch>
  <!-- Launch BoardComms for communicating with the board -->
  <node name="BoardComms" pkg="boardcomms" type="BoardComms.py"/>
  <!-- Launch BoardCommsEth for communicating with the board -->
  <!---<node name="BoardCommsEth" pkg="boardcomms" type="BoardCommsEth.py"/> -->
  <!-- Launch JoystickControls-->
  <node name="JoystickControls" pkg="remote_control" type="JoystickControls.py"/> -->

</launch>
