# IGVC USB ComPort
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", ATTRS{product}=="IGVC USB ComPort" \
    MODE:="0666", \
    ENV{ID_MM_DEVICE_IGNORE}="1", \
    SYMLINK+="igvc_comm"

# IGVC USB Bootloader
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", ATTRS{product}=="IGVC USB Bootloader" \
    MODE:="0666", \
    ENV{ID_MM_DEVICE_IGNORE}="1", \
    SYMLINK+="igvc_boot"

# If you share your linux system with other users, or just don't like the
# idea of write permission for everybody, you can replace MODE:="0666" with
# OWNER:="yourusername" to create the device owned by you, or with
# GROUP:="somegroupname" and mange access using standard unix groups.
