<?xml version="1.0"?>
<launch>
  <!-- These are the arguments you can pass this launch file -->
  <arg name="camera_source" default="1"/>           <!-- Defaults to external USB camera -->
  <arg name="show_images" default="0"/>             <!-- Default to 0 in this launch file because it will show up in RVIZ -->
  <arg name="imu_port" default="/dev/ttyUSB1"/>     <!-- Default IMU port -->

  <!-- ROSbag recording on start-->
  <!--<node pkg="rosbag" type="record" args="-a -o /home/ssmarok/Robotics/bags/data" name="record" output="screen"/> -->
  <!--<node pkg="rosbag" type="record" args="-a -o /media/ssmarok/USB\ DISK/bags/data" name="record" output="screen"/> -->

  <!-- Launch RQT Gui with saved configurations -->
  <node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find control_unit_pkg)/config/view_data.perspective" required="true"/> 
  <!-- Launch RVIZ with saved configurations -->
  <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find control_unit_pkg)/config/rviz_config.rviz"/>  --> <!-- Launch BoardComms for communicating with the board -->
  <node name="BoardComms" pkg="communication_pkg" type="BoardComms.py"/> -->
  <!-- LIDAR scan data -->
  <node name="lidar_scan" pkg="lidar_pkg" type="lidar_scan"/> 
  <!-- Launch GPS node -->
  <node name="gps" pkg="nmea_navsat_driver" type="nmea_serial_driver"/> -->
  <!-- Launch IMU node -->
  <include file="$(find imu_pkg)/launch/imu_pkg.launch">
    <arg name="port" value="$(arg imu_port)" />
  </include>
  <!-- Launch OpenCV camera node with parameters set -->
  <include file="$(find opencv_pkg)/launch/camera.launch">
    <arg name="camera_source" value="$(arg camera_source)" />
    <arg name="show_images" value="$(arg show_images)" />
  </include>
  <!-- Launch Mapviz node -->
  <!--<include file="$(find mapviz)/launch/mapviz.launch"/> -->
  
  <!-- Include golf cart model -->
  <include file="$(find rbcar_description)/launch/rbcar_control_unit.launch"/>
  <!-- Create static transform for lidar_scan -->
  <node pkg="tf" type="static_transform_publisher" name="laser_transform" args="0 0 0 0 0 0 lidar_link laser 100" />

</launch>
